body {
  padding: 0 1em;
}
.search_bar {
  margin: 24px 0;
}
.media{
  margin-bottom: 8px;
  &.media-heading{
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(#000, 0.08),0 0 8px rgba(#000, 0.15);
    transition: all .6s ease-in-out;
  }
  &:hover {
    background-color: #333;
    color: #fff;
  }
}
.video {
  position: sticky;
  top: 24px;
}

li {
  list-style: none;
}
